*,
:after,
:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
:root {
    --body-color: #f7f7f7;
    --card-color: #110e1b;
    --title-color: var(--text-color);
    --text-color: black;
    --btn-text: black;
    --btn-bg: #f1e7e7;
    --btn-border: black;
}

[data-theme="light"] {
    --body-color: black;
    --card-color: #f7f7f7;
    --title-color: #555;
    --text-color: #878485;
    --btn-text: #807d7e;
    --btn-bg: black;
    --btn-border: #807d7e;
}

html {
    font-size: 62.5%;
    
    font-family: 'East Sea Dokdo', cursive;
}

.logo{
    filter:contrast(10%);
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: .8rem;
    right: .9rem;
    z-index: 3;
    transition: .3s;
    opacity: .8;
    cursor:pointer;
}
.logo:hover{
    opacity: 1;
}

html, body {
   /* background-image:linear-gradient(
          rgba(0, 0, 0, 0.6), 
          rgba(0, 0, 0, 0.6)
        ), url(''); */
        background-color:var(--body-color);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
font-family: 'East Sea Dokdo', cursive;
overflow: hidden;
}

p {
    line-height: 1.7;
    
font-family: 'East Sea Dokdo', cursive;
}

.intro-text {
    max-width: 50rem;
    margin: 0 auto;
    color: var(--text-color);
    font-size: 5rem;
    margin-left: 0;
    margin-bottom:-1.8rem;
font-family: 'East Sea Dokdo', cursive;
}

@media (min-width:768px) {
    .intro-text {
      color: var(--text-color);
        font-size: 8rem;
        max-width: 120rem;
        text-align: left;
        margin-bottom:-2rem;
font-family: 'East Sea Dokdo', cursive;
    }
}

button{
  position: relative;
  display: inline-block;
  color: white;
  border-radius:7px;
  margin-right:4px;
  font-size: 15px;
  font-family: 'East Sea Dokdo', cursive;
  text-decoration: none;
  margin-top:5px;
  border: 1px solid transparent;
  padding: 6px 20px;
  text-transform: uppercase;
  transition: 1s all ease;
}
button:hover{
color: white;
}

.btn{
background-color:var(--btn-bg);
transform: skew(5deg);
position: relative;
margin-right:4px;
  display: inline-block;
  color: var(--btn-text);
  border-radius:0.2rem;
  font-size: 15px;
  font-family: 'East Sea Dokdo', cursive;
  text-decoration: none;
  margin-top:5px;
  border: 1px solid var(--btn-border);
  padding: 6px 20px;
  text-transform: uppercase;
  transition: 1s all ease;
  margin-bottom:5px;
  box-shadow: 0 4px #999;
}
.btn:hover{
    background-color: #606C82 !important;
            transform: translateY(4px);
            color:white;
}

.u-text-center {
    text-align: left !important
}

.row {
    max-width: 114rem;
    margin: 0 auto
}

.row:after {
    content: "";
    display: block;
    clear: both
}

@media (min-width:768px) {
    .row {
        display: table
    }
}

@media (min-width:768px) {
    .row [class^=col-] {
        width: calc(50% - 8rem);
        float: left
    }
}

.icon{
    width: 25px;
    height: 25px;
    display: inline;
    color:white;
    margin-top:-5rem;
    margin-bottom:0.8rem;
    margin-right: 0.7rem;
    filter: contrast(10%);
}
.icon:hover{
filter:grayscale(10%);
transform: translateY(-4px);
transition: .5s;
}
.navigation__checkbox {
    display: none
}

.navigation__button {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    height: 5rem;
    width: 5rem;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    z-index: 300;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .2);
    cursor: pointer
}

@media (min-width:768px) {
    .navigation__button {
        top: 4rem;
        right: 4rem;
        height: 7rem;
        width: 7rem
    }
}

.navigation__background {
    position: fixed;
    top: 2rem;
    right: 2rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: #293335;
    background-size: cover;
    background-position: 50%;
    z-index: 100;
    transition: all .8s cubic-bezier(.86, 0, .07, 1)
}

@media (min-width:768px) {
    .navigation__background {
        top: 4.5rem;
        right: 4.5rem;
        height: 6rem;
        width: 6rem
    }
}

.navigation__nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    opacity: 0;
    width: 0;
    visibility: hidden;
    z-index: 200;
    transition: all .8s cubic-bezier(.68, -.55, .265, 1.55)
}

.navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    list-style: none
}

.navigation__item {
    margin: 1rem
}

.navigation__link:link,
.navigation__link:visited {
    display: inline-block;
    padding: 1rem 2rem;
    text-transform: uppercase;
    color: #91abaa;
    font-size: 2.4rem;
    text-decoration: none;
    transition: all .2s
}

@media (min-width:768px) {

    .navigation__link:link,
    .navigation__link:visited {
        font-size: 3.8rem
    }
}

.navigation__link:link span,
.navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block
}

.navigation__link:hover {
    color: #f4f4f4;
    transform: scale(1.1)
}

.navigation__checkbox:checked~.navigation__background {
    transform: scale(80)
}

.navigation__checkbox:checked~.navigation__nav {
    width: 100%;
    visibility: visible;
    opacity: 1
}

.navigation__icon {
    position: relative;
    margin-top: 2.5rem
}

@media (min-width:768px) {
    .navigation__icon {
        margin-top: 3.5rem
    }
}

.navigation__icon,
.navigation__icon:after,
.navigation__icon:before {
    display: inline-block;
    width: 2.2rem;
    height: 2px;
    background-color: #555
}

@media (min-width:768px) {

    .navigation__icon,
    .navigation__icon:after,
    .navigation__icon:before {
        width: 3rem
    }
}

.navigation__icon:after,
.navigation__icon:before {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s
}

.navigation__icon:before {
    top: -.8rem
}

.navigation__icon:after {
    top: .8rem
}

.navigation__button:hover .navigation__icon:before {
    top: -1rem
}

.navigation__button:hover .navigation__icon:after {
    top: 1rem
}

.navigation__checkbox:checked+.navigation__button .navigation__icon {
    background-color: transparent
}

.navigation__checkbox:checked+.navigation__button .navigation__icon:before {
    top: 0;
    transform: rotate(135deg)
}

.navigation__checkbox:checked+.navigation__button .navigation__icon:after {
    top: 0;
    transform: rotate(-135deg)
}

.header {
    font-family: 'East Sea Dokdo', cursive;
    
    text-align: left;
}

.header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    opacity: .95;
}

.header__description {
font-family: 'East Sea Dokdo', cursive;
    max-width: 80rem;
    font-size: 2rem;
    color: var(--text-color);
    opacity: ;
    text-align:left;
}

@media (min-width:768px) {
    .header__description {
    font-family: 'East Sea Dokdo', cursive;
        width: 80%;
        font-size: 2.7rem;
        text-align:left;
    }
}


