body{
    background-color:#efefef;
    color:;
}

.one{
    background-color:#f7f7f7;
    border-radius:10px;
    box-shadow:1px 1px 1px 1px brown;
    text-shadow: 1px 1px red;
    margin-top:8px;
}

button{
    margin-bottom:5px;
}
